.page-header {
  height: 30vh;
  background-size: cover;
  margin: 0;
  padding: 50px;
  border: 0;
  display: flex;
  align-items: center;
}

.header-filter:after,
.header-filter:before {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 40%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.header-filter::before {
  background: rgba(0, 0, 0, 0.5);
}

.main-raised {
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.main {
  background: #fff;
  position: relative;
  z-index: 3;
}

.profile-page .profile {
  text-align: center;
}

.profile img {
  max-width: 170px;
  width: 100%;
  margin: 0 auto;
  margin-top: 10rem;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
.avatar {
  height: 18rem;
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.rounded-circle {
  border-radius: 50% !important;
}

.title {
  min-height: 32px;
  color: #3c4858;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

.description {
  margin: 1.071rem auto;
  margin-bottom: 4rem;
  max-width: 800px;
  color: rgb(73, 73, 73);
  font-weight: 500;
  font-family: "Roboto Slab", "Times New Roman", serif;
}

.card-wrapper {
  position: relative;
  width: 120%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 7rem;
}

.card-wrapper:active,
.card-wrapper:hover,
.card-wrapper:focus {
  outline: none;
  border: none;
}

.cardy {
  width: 100%;
  height: 450px;
  cursor: pointer;
  position: relative;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: 0.5s;
}

.card-image:hover {
  transform: translateY(-140px);
  transition: all 0.9s;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img:hover {
  opacity: 0.4;
  transition: 0.5s;
}

.details {
  position: absolute;
  bottom: 15px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100px;
  z-index: 1;
  padding: 3px;
  transition: 0.6s;
}
